body{
    margin: 0;
}
.mainDiv{
    display: block;
    align-items: center;
}

.flex-box{
    display: flex;  
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    border: solid 2px red;
    margin-top:10px;
    margin-left: 150px;
    background-color: rgb(60, 76, 90);
    color: bisque
 
   
}
.userNameDisplay, .round, .total{
    width: 300px;
}

.userNameDisplay{
    background-color: bisque;
    color: rgba(15, 61, 15, 0.822);
}

#table1 {
    border-collapse: separate;
  }
  td{
    padding-left: 5px;
  }
.playerSelection, .computerSelection, .cardGame, .next, .reset{
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
    width: 100px;
}
.playerSelection{
    background-color: darkgreen;
    color: bisque;
}
.cardGame, .total{
background-color: brown;
color: bisque;
}
h3, h4, p{
    padding-left: 10px;
}
.reset{
    background-color: chartreuse;
}
.next, .round{
    background-color: blue;
    color: beige;
}
.gameDisplay, .pointTable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
    border: solid 2px red;
    margin-top:10px;
    margin-left: 150px;
    background-color: rgb(60, 76, 90);
    color: bisque;
}

.playerPick, .computerPick{
    margin-left: 10px;
    width: 300px;
    font-size: xx-large;
    font-weight: 800;
    font-style: oblique;
}
.result{
    margin-left: 10px;
    width: 300px;
    font-size: larger;
    font-weight: 800;
    font-style: oblique; 
}

.playerPick{
    background-color: bisque;
    color: rgb(114, 199, 28);
}

.computerPick{
   
    background-color: black;
    color: rgb(220, 14, 14);
}

.result{
    background-color: cadetblue;
    color: blue;
}