body{
    margin: 0;
}
.mainDiv{
    display: block;
    align-items: center;
}

.flex-box{
    display: flex;  
}

.buttonDiv{
    display: flex;
    margin-left: 150px;
 
   
}

#table1 {
    border-collapse: separate;
  }
  td{
    padding-left: 5px;
  }
.playerSelection, .computerSelection, .cardGame, .next, .reset{
    flex-direction: row;
    margin-top: 10px;
    margin-left: 25px;
    width: 100px;
}
.playerSelection{
    background-color: darkgreen;
    color: bisque;
}
.cardGame{
background-color: brown;
color: bisque;
}
h3, h4, p{
    padding-left: 10px;
}
.reset{
    background-color: chartreuse;
}
.next{
    background-color: blue;
    color: beige;
}
.gameDisplay, .pointTable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
    border: solid 2px red;
    margin-top:10px;
    margin-left: 150px;
    background-color: rgb(74, 107, 135);
    color: bisque;
}

.playerPick, .computerPick{
    margin-left: 40px;
    font-size: larger;
    font-weight: 800;
    font-style: oblique;
}

