body{
    margin: 0;
}

.divMain{
    display: flex;
    padding: 0px 50px 50px 50px;
    justify-content: space-around;
}

.playerHeader, .computerHeader{
font-style: oblique;
font-size: large;
text-align: center;
margin: 20px;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    width: 360px;
    color: bisque

}

.gameShow{
    display: flex;
    flex-direction: row;
    border: solid 4px rgba(30, 255, 0, 0.305);
    width: 350px;
    height: 175px;
    margin-bottom: 20px;
    /* margin-top: 50px; */
    background-color: rgb(60, 76, 90);
    color: bisque
}

.userNameInput, .userNameBtn{
    border-radius: 5px;
}
.userNameDisplay{
    text-transform: capitalize;
}
.userNameDisplay, .round, .total{
    width: 250px;
    border-radius: 5px;
}

.userNameDisplay{
    background-color: bisque;
    color: rgba(15, 61, 15, 0.822);
}
.tableHeading{
    background-color: brown;
}
#table1 {
    border-collapse: separate;
  }
  td{
    font-size: large;
    padding: 5px;
  }
.playerSelection, .computerSelection, .cardGame, .next, .reset{
    flex-direction: row;
    margin-left:5px;
    width: 80px;
    border-radius: 5px;
}
.playerSelection{
    background-color: darkgreen;
    color: bisque;
}
.cardGame, .computerWin{
background-color: brown;
color: bisque;
}

.playerWin{
    background-color: green;
}
.draw{
    background-color: bisque;
    color:rgba(15, 61, 15, 0.822)
}
.draw, .computerWin, .playerWin{
    width: 250px;
    border-radius: 5px;
}
/* h3, h4, p{
    padding-left: 40px;
} */
.reset{
    background-color: chartreuse;
}
.next, .round{
    background-color: blue;
    color: beige;
}
.pointTable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 360px;
    height: 640px;
    border: solid 4px rgba(255, 0, 0, 0.527);
    background-color: rgb(60, 76, 90);
    color: bisque;
}


.playerPick, .computerPick{
    width: 75px;
    padding-right: 20px;
    font-size: xx-large;
    font-weight: 800;
    font-style: oblique; 
    border-radius: 5px;
    text-align: center;
    
}

.playerPick{
    display: block;
    background-color: bisque;
    color: rgb(114, 199, 28);
}

.computerPick{
   display: block;
    background-color: black;
    color: rgb(220, 14, 14);
}

.result{
    background-color: cadetblue;
    color: blue;
}

@media screen and (max-screen: 360px) {
    .pointTable{
        width: 360px;
        height: 640px;
     
    }
    
}